<%- include ("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% listItems.forEach(listItem=> { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="itemId" value="<%= listItem._id %>" onchange="this.form.submit()">
                    <p>
                        <%= listItem.item %>
                    </p>
                </div>
                <input type="hidden" name="listTitle" value="<%= listTitle %>">
            </form>
        <% }) %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off" required>
                    <button type="submit" name="listTitle" value="<%= listTitle %>">+</button>
                </form>
    </div>

<%- include ("footer") -%>